<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/form.css">
    <title>PMURLs</title>
    <link rel="stylesheet" href="./stylesheets/utils.css">
    <link rel="stylesheet" href="./stylesheets/home.css">    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <script>
       let data = <%-links%>
    </script>
</head>
<body>
   <div class="main">
      <nav>
         <h1>Welcome to PMURLs, <span> Mr. <%=username%></span></h1>
         <a href="/auth/logout"><button>LogOut</button></a>
      </nav>
    <br>
      <div class="links">
        <div class="part1">
          <form action="/url" method="post">
            <label for="redirectUrl">
                <p name="redirectUrl">Redirect Url:</p>
                <input type="text" placeholder="https://google.com/" name="redirectUrl" required>
            </label>
            <label for="customUrl">
                <p name="customUrl">Custom Url:</p>
                <input type="text" placeholder="yourUrl (optional)" name="customUrl" >
            </label>
            <button type="submit">Generate Link</button>
            <p><i class="ri-information-2-fill"></i> Redirect Url is the target and Custom Url is your preferred ShortId but that's optional.</p>
          </form>

        </div>
        <div class="part2">
          <h3>Your links...</h3>
          <div class="info"><p>ShortId</p><p>Redirect Url</p></div>
          
        </div>   
      </div>
    </div> 
    <script src="scripts/main.js"></script>
</body>
</html>
