<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/utils.css">
    <link rel="stylesheet" href="../stylesheets/form.css">
    <link rel="stylesheet" href="../stylesheets/404.css">
    <style>
      body{
        padding:0;
      }
      .main{
        padding:16px;
      }
    </style>    
    
</head>
<body>
    <div class="main">
                   
	    <button><%=info%></button><br><br>
	     <span><a href=<%=href%>><b><%=msg%>></b></a></span>
    </div>
</body>
</html>

