<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMURLs</title>
</head>
<body>
    You're not Authenticated.
    <br>
    <button>Signup</button> 
    <button>Login</button> 
</body>
</html>