<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMURLs</title>
    <link rel="stylesheet" href="../stylesheets/utils.css">
    <style>
        .main{
             display:flex;
             flex-direction:column;
             align-items:center;
             justify-content:center;
             color:white;
             gap:2vh;
        }
    </style>
</head>
<body>
   <div class="main">
   <h1>Welcome to PMURLs</h1>
    <br> Please Login, if already hav an account or Signup if new...
    <div class="buttons">
      <a href="/auth/signup"><button>Signup</button></a> 
      <a href="/auth/login"><button>Login</button></a>
    </div>
    </div>    
</body>
</html>
