*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  max-height:100%;
  max-width:100%;
}

.main{
    display:block;
    padding:0;
}


form{
    display:flex;
    flex-direction: column;
    gap:1em;
    height:fit-content;
    width:fit-content;
    padding:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

label{
    max-height: fit-content;
    display:flex;
    justify-content: space-between;
    align-items:center;
  gap: 1em;
}

label p{
    display:inline;
    color:lightseagreen;
    font-weight: 900;
}

label input{
    border:none;
    display:inline;
    padding:0.5em 0.7em;
  max-width:60vw;
}

label input:focus{
    outline:none;
}

p{
  color:white;
  width:100%;
  display:flex;
  justify-content: center;
  gap:3px;
}

p span{color:lightseagreen}
