.main{
    display:block;
}

form{
    display:flex;
    flex-direction: column;
    gap:1em;
    height:fit-content;
    width:fit-content;
    padding:1em;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

label{
    max-width: 100%;
    max-height: fit-content;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 1em;
}

label p{
    display:inline;
    color:lightseagreen;
    font-weight: 900;
}

label input{
    border:none;
    display:inline;
    padding:0.5em 0.7em;
}

label input:focus{
    outline:none;
}

p{
  color:white;
  width:100%;
  display:flex;
  justify-content: center;
  gap:3px;
}

p span{color:lightseagreen}
