@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

html,body{
  height:100%;
  width:100%;
  color:white;
  overflow-x:hidden;
  overflow-y:auto;
  backgrond-color:lime;
}

h1{
  font-size:1.5em;
}

span{
  display:block;
  color:lightseagreen;
  font-size:0.8em;
  font-family:"Advent Pro",'apna font';
}

.main{
  display:flex;
  flex-direction:column;
  gap: 2vh;
}

form{
      position:inherit;
      left:0%;
      transform:translate(0%,0%);
    }  
    .links{
      height:auto;
      width:100%;
      display:flex;
      align-items:auto;
      justify-content:space-between;
      padding-top:5vh;
      gap:4rem;
    } 
    .part1{
      height:100%;
      width:auto;
      position:relative;
      display:flex;
      align-items:center;
      justify-content:flex-start;
    }
    .part2{
      height:100%;
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:flex-start;
      gap:1em;
    }
    .part2 table{
      height:auto;
      min-width:100%;
    }
    svg { 
      
      max-height:1.65em;
      color:lightseagreen;
    }
    nav{
      height:auto;
      width:100%;
      display:flex;
      align-items:center;
      justify-content:space-between;
    }
    @media (max-width:1200px){
      .links{
        flex-direction:column;
      }
      .part1, .part2{
        align-items:center;
        justify-content:center;
      }
    }

